$main-orange : #E6873A;
$light-orange : #FFC290;
$main-green : #545A29;
$light-green : #81865F;
$solid-gold : #C59B46;
$gradient-gold : linear-gradient(45deg,#C59B46,#F4DCAB);

html{height: 100%;}
body{
  background: url("../sixthtemplate/Background Sixth Template.png");
  background-size: cover;
  height: 100%;
}

h1{font-size: 36px;}
h2{font-size: 24px;}
h3{font-size: 20px;}
span, p{
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
}

.ornament{
  
  .top-left{

    &::before{
      position: absolute;
      content: "";
      height: 25%;;
      width: 100%;
      background: url("sixthtemplate/big-leaves-shadow");
      background-repeat: no-repeat;
      top: -6%;
      left: -15%;
      animation: ShadowLeavesTL 5s infinite;
    }

    #big-leaves-tl, #small-leaves-tl, #one-leaf-tl{
      position: absolute;
    }

    #big-leaves-tl{
      top: -8%;
      left: -22%;
      animation: BigLeavesTL 5s infinite;
    }

    #small-leaves-tl{
      top: -5%;
      left: 3%;
      animation: SmallLeavesTL 5s infinite;
    }
    
    #one-leaf-tl{
      top: 6%;
      left: 13%;
      animation: OneLeafTL 5s infinite;
    }

    @keyframes BigLeavesTL {
      0% {transform: rotate(-5deg) scale(0.95);}
      50% {transform: rotate(5deg) scale(1);}
      100% {transform: rotate(-5deg) scale(0.95);}
    }

    @keyframes SmallLeavesTL {
      0% {transform: rotate(10deg) scale(0.9);}
      50% {transform: rotate(-10deg) scale(1);}
      100% {transform: rotate(10deg) scale(0.9);}
    }

    @keyframes OneLeafTL {
      0% {transform: rotate(-10deg) scale(0.9);}
      50% {transform: rotate(10deg) scale(1);}
      100% {transform: rotate(-10deg) scale(0.9);}
    }

    @keyframes ShadowLeavesTL {
      0% {transform: rotate(-5deg) scale(0.95);}
      50% {transform: rotate(5deg) scale(1);}
      100% {transform: rotate(-5deg) scale(0.95);}
    }
  }

  .top-right{
    
    &::before{
      position: absolute;
      content: "";
      height: 25%;;
      width: 100%;
      background: url("sixthtemplate/big-leaves-shadow");
      background-repeat: no-repeat;
      top: -6%;
      right: -15%;
      animation: ShadowLeavesTR 5s infinite;
    }

    #big-leaves-tr, #small-leaves-tr, #one-leaf-tr{
      position: absolute;
    }

    #big-leaves-tr{
      top: -8%;
      right: -22%;
      animation: BigLeavesTR 5s infinite;
    }

    #small-leaves-tr{
      top: -5%;
      right: 3%;
      animation: SmallLeavesTR 5s infinite;
    }
    
    #one-leaf-tr{
      top: 6%;
      right: 13%;
      animation: OneLeafTR 5s infinite;
    }

    @keyframes BigLeavesTR {
      0% {transform: scaleX(-1) rotate(-5deg) scale(0.95);}
      50% {transform: scaleX(-1) rotate(5deg) scale(1);}
      100% {transform: scaleX(-1) rotate(-5deg) scale(0.95);}
    }

    @keyframes SmallLeavesTR {
      0% {transform: scaleX(-1) rotate(10deg) scale(0.9);}
      50% {transform: scaleX(-1) rotate(-10deg) scale(1);}
      100% {transform: scaleX(-1) rotate(10deg) scale(0.9);}
    }

    @keyframes OneLeafTR {
      0% {transform: scaleX(-1) rotate(-10deg) scale(0.9);}
      50% {transform: scaleX(-1) rotate(10deg) scale(1);}
      100% {transform: scaleX(-1) rotate(-10deg) scale(0.9);}
    }

    @keyframes ShadowLeavesTR {
      0% {transform: scaleX(-1) rotate(-5deg) scale(0.95);}
      50% {transform: scaleX(-1) rotate(5deg) scale(1);}
      100% {transform: scaleX(-1) rotate(-5deg) scale(0.95);}
    }
  }

  .bottom{

    &::before{
      position: absolute;
      content: "";
      background: url("sixthtemplate/bottom-leaf-shadow.png");
      background-repeat: no-repeat;
      width: 110%;
      height: 24%;
      bottom: 0;
      left: -8%;
      animation: ShadowLeavesBottom 5s infinite;
    }

    #leaf-1, #leaf-2, #leaf-3, #leaf-4, #leaf-5, #leaf-6{
      position: absolute;
    }

    #leaf-1{
      bottom: -8%;
      left: -2%;
      animation: LeafOne 5s infinite;
    }

    #leaf-2{
      bottom: -7%;
      left: 6%;
      animation: LeafTwo 5s infinite;
    }

    #leaf-3{
      bottom: -3%;
      left: 24%;
      animation: LeafThree 5s infinite;
    }

    #leaf-4{
      bottom: -3%;
      right: 37%;
      animation: LeafFour 5s infinite;
    }

    #leaf-5{
      bottom: -12%;
      right: 16%;
      animation: LeafFive 5s infinite;
    }

    #leaf-6{
      bottom: -11%;
      right: -9%;
      animation: LeafSix 5s infinite;
    }

    @keyframes LeafOne {
      0% {transform: rotate(-10deg) scale(1.2);}
      50% {transform: rotate(10deg) scale(1.3);}
      100% {transform: rotate(-10deg) scale(1.2);}
    }

    @keyframes LeafTwo {
      0% {transform: rotate(10deg) scale(1.1);}
      50% {transform: rotate(-10deg) scale(1.2);}
      100% {transform: rotate(10deg) scale(1.1);}
    }

    @keyframes LeafThree {
      0% {transform: rotate(-10deg) scale(1.2);}
      50% {transform: rotate(10deg) scale(1.3);}
      100% {transform: rotate(-10deg) scale(1.2);}
    }

    @keyframes LeafFour {
      0% {transform: rotate(10deg) scale(1.1);}
      50% {transform: rotate(-10deg) scale(1.2);}
      100% {transform: rotate(10deg) scale(1.1);}
    }

    @keyframes LeafFive {
      0% {transform: rotate(-10deg) scale(1.1);}
      50% {transform: rotate(10deg) scale(1.2);}
      100% {transform: rotate(-10deg) scale(1.1);}
    }

    @keyframes LeafSix {
      0% {transform: rotate(10deg) scale(1.1);}
      50% {transform: rotate(-10deg) scale(1.2);}
      100% {transform: rotate(10deg) scale(1.1);}
    }

    @keyframes ShadowLeavesBottom {
      0% {transform: rotate(-5deg) scale(1.0);}
      50% {transform: rotate(5deg) scale(1.2);}
      100% {transform: rotate(-5deg) scale(1.0);}
    }
  }
}

.content{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
  justify-content: center;

  .group-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;

    .custom-image{
      width: 180px;
      height: 180px;
      border-radius: 100%;
      position: absolute;
    }

    .custom-border{
      width: 200px;
      height: 200px;
    }
  }

  .group-text{

    .title,.sub-title{
      font-family: 'DM Serif Display', serif;
      color: $main-green;
    }

    .sub-title{margin-bottom: 4px;}
    
    .title{margin-bottom: 8px;}

    .dates{
      display: block;
      font-weight: 500;
      letter-spacing: 2.5px;
      text-transform: uppercase;
      color: $solid-gold;
    }
  }
}

.nav-float{
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $main-orange;
  position: fixed;
  z-index: 2;
  padding: 12px;
  border-radius: 50rem;
  width: calc(100% - 40px);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

 .custom-row{
   margin-left: 0;
   margin-right: 0;
   padding-left: 0;
   padding-right: 0;

    .nav-item{
      color: $light-orange;
      text-decoration: none;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;

      &.active{color: #fff;}

      .custom-icon{
        display: inline-block;
        width: 24px;
      }
    }
  }
}