@font-face {
  font-family: Marcha;
  src: url(../../fonts/Marcha.otf);
}

$main-blue : #213A6A;
$dark-blue : #0d2247;
$solid-bronze : #AE9874;
$custom-gray : #9CA3AF;
$custom-white : #F9FAFB;
$gradient-bronze : linear-gradient(140deg,#9C8258 0%,#D7CBB8 50%, #B7A384 100%);

html{height: 100%;}
body{
  background: url("firsttemplate/bg-white-marble.jpg");
  background-size: cover;
  height: 100%;
}

h1{font-size: 40px;}
h2{font-size: 36px;}
h3{font-size: 20px;}
h4{font-size: 14px;}
span, p{
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
}

.ornament{
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;

  .top-left{
    position: absolute;
    width: 178px;
    height: 224px;
    top: -80px;
    left: -86px;
    transform: scale(-0.6) scaleX(-1);

    .flower-set{
      position: absolute;
      z-index: 1;
      width: 178px;
      bottom: 0;
      transform: rotate(30deg);
    }

    .leaf-set{
      position: absolute;
      z-index: 0;
      width: 106px;
      bottom: 48px;
      left: 56px;
      transform: rotate(45deg);
    }
  }
  
  .top-right{
    position: absolute;
    width: 178px;
    height: 224px;
    top: -80px;
    right: -86px;
    transform: scale(-0.6);

    .flower-set{
      position: absolute;
      z-index: 1;
      width: 178px;
      bottom: 0;
      transform: rotate(30deg);
    }

    .leaf-set{
      position: absolute;
      z-index: 0;
      width: 106px;
      bottom: 48px;
      left: 56px;
      transform: rotate(45deg);
    }
  }
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: calc(100vh - 86px);
  padding: 36px 20px 16px 20px;
  position: absolute;
  right: 0;

  .title{
    font-family: 'Marcha', serif;
    color: $main-blue;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after{
      content: "";
      display: block;
      width: 40px;
      height: 1px;
      background: $gradient-bronze;
      margin-top: 8px;
    }
  }

  .custom-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: $custom-white;
    padding: 16px 20px;
    border-radius: 16px;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.1);
    margin-bottom: 16px;

    .group-input{

      label, input, textarea, select{
        font-family: 'Work Sans', sans-serif;
        font-size: 12px;
      }

      label{
        display: block;
        font-weight: 600;
        color: $main-blue;
      }

      input, textarea, select{
        width: 100%;
        font-weight: 500;
        background: none;
        padding-bottom: 4px;
        border: none;
        border-bottom: 1px solid #D1D5DB;
        color: $main-blue;

        &:focus{
          font-weight: 500;
          outline: none;
        }
      }

      textarea{
        height: 56px;
      }

      select{
        color: $main-blue;
      }

      ::placeholder{
        font-weight: 400;
        color: $custom-gray;
      }
    }

    .custom-btn{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      background-color: $main-blue;
      text-decoration: none;
      color: white;
      font-weight: 600;
      border-radius: 8px;
      border: none;

      .text{
        margin-left: 8px;
      }

      &:hover{background-color: $dark-blue;}
    }
  }

  .wishlist{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    background: $custom-white;
    padding: 16px 20px;
    border-radius: 16px;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.1);

    .group-wish{

      .sender-name{
        font-weight: 600;
        color: $main-blue;
        display: flex;
        align-items: center;
        margin-bottom: 4px;

        &::after{
          content: "Hadir";
          height: 100%;
          color: $custom-white;
          font-size: 7px;
          font-weight: 400;
          background-color: $solid-bronze;
          padding: 2px 8px;
          margin-left: 8px;
          border-radius: 4px;
        }
      }

      .message{
        display: block;
        color: $main-blue;
        margin-bottom: 8px;
      }
    }

    .group-wish:not(:last-child){
      border-bottom: 1px solid #DCDFC5;
      margin-bottom: 12px;
    }
  }
}

.nav-float{
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $custom-white;
  position: fixed;
  z-index: 2;
  padding: 12px;
  border-radius: 16px;
  width: calc(100% - 40px);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

 .custom-row{
   margin-left: 0;
   margin-right: 0;
   padding-left: 0;
   padding-right: 0;

    .nav-item{
      color: $custom-gray;
      text-decoration: none;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;

      &.active{color: $main-blue;}

      .custom-icon{
        display: inline-block;
        width: 24px;
      }
    }
  }
}