$main-red : #7E0E26;
$light-red : #B47583;
$solid-gold : #C59B46;
$dark-gold : #a87d26;
$gradient-gold : linear-gradient(45deg,#C59B46,#F4DCAB);
$custom-white : #F9FAFB;
$light-gray : #9CA3AF;

html, body{height: 100%;}

.wrapper-custom{
  background: url("thirdtemplate/marble-pattern.jpg");
  background-size: 300%;
  height: 100%;
  max-width: 450px;
  margin: 0 auto;
  animation: backgroundFade 8s ease-in-out infinite;
}

@keyframes backgroundFade {
  0% { background-size: 310%; }
  50% { background-size: 300%; }
  100% { background-size: 310%; }
}

h1{font-size: 40px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 20px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
span, p{
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
}

.ornament{
  padding: 0;

  .top{
    position: relative;
    animation: slideOrnamentTop 1.5s ease-in-out 1;

    .top-pine-set-1, .top-pine-set-2, .top-pine-set-3{
      position: absolute;
    }

    .top-pine-set-1{
      width: 106px;
      right: 3px;
      top: -20px;
    }

    .top-pine-set-2{
      width: 106px;
      right: 115px;
      top: -50px;
    }

    .top-pine-set-3{
      width: 109px;
      right: -58px;
      top: 58px;
      transform: rotate(-12deg);
    }
  }

  .bottom{
    position: absolute;
    width: 100%;
    bottom: 10px;
    animation: slideOrnamentBottom 1.5s ease-in-out 1;

    .bottom-pine-set-1, .bottom-pine-set-2, .bottom-pine-set-3{
      position: absolute;
      transform: rotate(180deg);
    }

    .bottom-pine-set-1{
      width: 106px;
      bottom: -21px;
      left: 3px;
    }

    .bottom-pine-set-2{
      width: 106px;
      bottom: 60px;
      left: -58px;
    }

    .bottom-pine-set-3{
      width: 109px;
      bottom: -50px;
      left: 115px;
    }
  }

  @keyframes slideOrnamentTop {
    0% {
      opacity: 0;
      transform: translateX(225px) translateY(-175px);
    }
    100% {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }
  }

  @keyframes slideOrnamentBottom {
    0% {
      opacity: 0;
      transform: translateX(-225px) translateY(190px);
    }
    100% {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }
  }
}

.content{
  position: absolute;
  width: 100%;
  height: calc(100% - 90px);
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .group-image{

    .custom-inner{
      height: 260px;
      overflow: visible;
      display: flex;

      .custom-item{
        height: 100%;
        margin-bottom: 12px;

        .custom-placeholder{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;

          .custom-image{
            width: 180px;
            height: 260px;
            border: 2px solid $solid-gold;
            border-radius: 50rem;
            object-fit: cover;
          }

          .custom-image:first-child, .custom-image:last-child{
            transform: scale(0.8);
          }
        }
      }
  
      .group-carousel-btn{
        width: 180px;
        height: 260px;
        position: relative;
        margin: 0 auto;
        display: flex;
        align-items: center;

        .custom-prev, .custom-next{
          position: absolute;
          opacity: 1;
          width: auto;
          top: auto;
          bottom: auto;
    
          .custom-btn{
            background-image: none;
            width: 32px;
            height: 32px;
            padding: 8px;
            background-color: $solid-gold;
            border-radius: 100%;
            opacity: 1;
    
            .custom-icon{
              width: 16px;
              height: 16px;
              color: $custom-white;
            }

            &:hover, &:active{
              background-color: $dark-gold;
            }
          }
        }
    
        .custom-prev{left: -16px;}
    
        .custom-next{right: -16px;}
      }
    }

    .custom-indicators{
      position: static;
      margin-bottom: 0;

      .indicator-btn{
        width: 8px;
        height: 8px;
        border-radius: 100%;
        border-top: none;
        border-bottom: none;
        background-color: $solid-gold;
      }
    }
  }

  .group-text{
    text-align: center;
    padding: 0 48px;

    .thanks{
      display: block;
      color: $custom-white;
      margin-top: 20px;
      margin-bottom: 16px;
      animation: slideUp 2s ease-in-out 1;
    }

    .sub-title{
      display: block;
      color: $custom-white;
      font-weight: 600;
      margin-bottom: 8px;
      animation: fadeIn 2s ease-in-out 1;
    }

    .title{
      font-family: 'DM Serif Display', serif;
      color: $solid-gold;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      animation: slideDown 2s ease-in-out 1;

      .man-name, .woman-name{
        color: $custom-white;
      }
    }

    .gift-btn{
      display: inline-flex;
      align-items: center;
      padding: 8px 20px;
      background-color: $solid-gold;
      text-decoration: none;
      color: $custom-white;
      font-weight: 600;
      border-radius: 8px;
      animation: slideDownButton 2s ease-in-out 1;

      .custom-icon{
        width: 16px;
      }

      .custom-text{
        margin-left: 8px;
      }

      &:active{background-color: $dark-gold;}
    }

    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }

    @keyframes slideUp {
      0% {
        opacity: 0;
        transform: translateY(40px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes slideDown {
      0% {
        opacity: 0;
        transform: translateY(-20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes slideDownButton {
      0% {
        opacity: 0;
        transform: translateY(-40px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

#popup-message{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(126, 14, 38, 0.75);
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms;

  &:target{
    visibility: visible;
    opacity: 1;
  }

  .custom-box{
    position: relative;
    background: url("thirdtemplate/white-marble.jpg");
    border-top-left-radius: 50rem;
    border-top-right-radius: 50rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 2px solid $solid-gold;
    padding: 72px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .prolog, .address{
      display: block;
      font-weight: 400;
      color: $main-red;
      text-align: center;
    }

    .prolog{margin-bottom: 12px;}

    .address{margin-bottom: 8px;}

    .title, .sub-title{
      display: block;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      color: $main-red;
      text-align: center;
    }

    .sub-title{margin-bottom: 4px;}

    .giftbox-icon{
      .custom-img{
        height: 40px;
        object-fit: contain;
        margin: 8px 0;
      }
    }

    .bank-icon{
      .custom-img{
        height: 28px;
        object-fit: contain;
        margin: 8px 0;
      }
    }

    .copy-btn{
      background-color: $solid-gold;
      border-radius: 8px;
      border: none;
      padding: 8px 16px;
      color: $custom-white;
      display: inline-flex;
      align-items: center;
      gap: 4px;

      &:hover{background-color: $dark-gold;}

      .custom-icon{
        width: 16px;
        height: 16px;
      }

      .custom-text{font-weight: 500;}
    }

    .offline-gift{margin-bottom: 20px;}

    .close-btn{
      position: absolute;
      z-index: 2;
      top: -20px;
      width: 40px;
      height: 40px;
      background-color: $solid-gold;
      border-radius: 100%;
      padding: 10px;
  
      .custom-icon{
        width: 20px;
        height: 20px;
        color: #fff;
      }

      &:hover{background-color: $dark-gold;}
    }

    .group-ornament{
      display: flex;
      gap: 2px;
      position: absolute;
      top: 10px;
      transform: scale(1.2);
  
      .leaves-left{
        width: 62px;
        height: 40px;
        position: relative;
  
        .pine-leaves-left, .pine-left{
          position: absolute;
          transform: scaleX(-1);
        }
  
        .pine-leaves-left{
          width: 40px;
        }
  
        .pine-left{
          width: 24px;
          right: 0;
          bottom: 0;
        }
      }
  
      .leaves-right{
        width: 62px;
        height: 40px;
        position: relative;
  
        .pine-leaves-right, .pine-right{
          position: absolute;
        }
  
        .pine-leaves-right{
          width: 40px;
          right: 0;
        }
  
        .pine-right{
          width: 24px;
          left: 0;
          bottom: 0;
        }
      }
  
      .bubble{
        width: 100%;
        height: 14px;
        position: absolute;
        display: flex;
        justify-content: center;
  
        .group-bubble{
          width: 10px;
          height: 14px;
          position: relative;
          margin-left: 6px;
  
          .bubble-small{
            width: 3px;
            position: absolute;
            top: 0;
            left: 0;
          }
  
          .bubble-medium{
            width: 4px;
            position: absolute;
            right: 0;
            bottom: 50%;
          }
  
          .bubble-large{
            width: 5px;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
  }
}

.nav-float{
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $custom-white;
  position: absolute;
  z-index: 2;
  padding: 12px;
  border: 2px solid $solid-gold;
  border-radius: 12px;
  width: calc(100% - 40px);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

 .custom-row{
   margin-left: 0;
   margin-right: 0;
   padding-left: 0;
   padding-right: 0;

    .nav-item{
      color: $light-gray;
      text-decoration: none;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;

      &.active{color: $main-red;}

      .custom-icon{
        display: inline-block;
        width: 24px;
      }
    }
  }
}