@font-face {
  font-family: Danviska;
  src: url(../../fonts/Danviska.ttf);
}

$main-red : #7E0E26;
$light-red : #B47583;
$solid-gold : #C59B46;
$dark-gold : #a87d26;
$gradient-gold : linear-gradient(45deg,#C59B46,#F4DCAB);
$custom-white : #F9FAFB;
$light-gray : #9CA3AF;

html{height: 100%;}
body{
  background: url("thirdtemplate/marble-pattern.jpg");
  background-size: cover;
  height: 100%;
}

h1{font-size: 40px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 20px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
span, p{
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
}

.ornament{
  padding: 0;

  .top-right{
    position: relative;

    .right-pine-set-1, .right-pine-set-2, .right-pine-set-3{
      position: absolute;
    }

    .right-pine-set-1{
      width: 106px;
      right: -20px;
      top: -32px;
      transform: scale(0.55);
    }

    .right-pine-set-2{
      width: 106px;
      right: 44px;
      top: -52px;
      transform: scale(0.55);
    }

    .right-pine-set-3{
      width: 109px;
      right: -56px;
      top: 12px;
      transform: scale(0.55) rotate(-12deg);
    }
  }

  .top-left{
    position: relative;

    .left-pine-set-1, .left-pine-set-2, .left-pine-set-3{
      position: absolute;
    }

    .left-pine-set-1{
      width: 106px;
      left: -20px;
      top: -32px;
      transform: scale(0.55) scaleX(-1);
    }

    .left-pine-set-2{
      width: 106px;
      left: 44px;
      top: -52px;
      transform: scale(0.55) scaleX(-1);
    }

    .left-pine-set-3{
      width: 109px;
      left: -56px;
      top: 12px;
      transform: scale(0.55) scaleX(-1) rotate(-12deg);
    }
  }
}

.content{
  width: calc(100% - 48px);
  height: calc(100vh - 130px);
  position: absolute;
  margin: 28px 24px 12px 24px;
  padding: 72px 24px 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("thirdtemplate/white-marble.jpg");
  border: 2px solid $solid-gold;
  border-top-left-radius: 50rem;
  border-top-right-radius: 50rem;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: $main-red;

  .group-ornament{
    display: flex;
    gap: 2px;
    position: absolute;
    top: 8px;
    transform: scale(1.2);

    .leaves-left{
      width: 62px;
      height: 40px;
      position: relative;

      .pine-leaves-left, .pine-left{
        position: absolute;
        transform: scaleX(-1);
      }

      .pine-leaves-left{
        width: 40px;
      }

      .pine-left{
        width: 24px;
        right: 0;
        bottom: 0;
      }
    }

    .leaves-right{
      width: 62px;
      height: 40px;
      position: relative;

      .pine-leaves-right, .pine-right{
        position: absolute;
      }

      .pine-leaves-right{
        width: 40px;
        right: 0;
      }

      .pine-right{
        width: 24px;
        left: 0;
        bottom: 0;
      }
    }

    .bubble{
      width: 100%;
      height: 14px;
      position: absolute;
      display: flex;
      justify-content: center;

      .group-bubble{
        width: 10px;
        height: 14px;
        position: relative;
        margin-left: 6px;

        .bubble-small{
          width: 3px;
          position: absolute;
          top: 0;
          left: 0;
        }

        .bubble-medium{
          width: 4px;
          position: absolute;
          right: 0;
          bottom: 50%;
        }

        .bubble-large{
          width: 5px;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  }

  .title{
    font-family: 'Danviska', serif;
    margin-bottom: 12px;
  }

  .custom-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;

    .group-input{

      label, input, textarea, select{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 12px;
      }

      label{
        display: block;
        font-weight: 600;
      }

      input, textarea, select{
        width: 100%;
        font-weight: 400;
        background: none;
        padding-bottom: 4px;
        border: none;
        border-bottom: 1px solid #ECE4D5;
        color: $main-red;

        &:focus{
          font-weight: 600;
          outline: none;
        }
      }

      textarea{height: 56px;}

      select{
        font-weight: 400;
      }

      ::placeholder{
        font-weight: 400;
        color: $light-red;
      }
    }

    .custom-btn{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      background-color: $solid-gold;
      text-decoration: none;
      color: $custom-white;
      font-weight: 600;
      border-radius: 24px;
      border: none;

      .text{
        margin-left: 8px;
      }

      &:hover{background-color: $dark-gold;}
    }
  }

  .wishlist{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;

    .group-wish{

      .sender-name{
        font-weight: 600;
        color: $main-red;
        display: flex;
        align-items: center;
        margin-bottom: 4px;

        &::after{
          content: "Hadir";
          height: 100%;
          color: $custom-white;
          font-size: 7px;
          font-weight: 400;
          line-height: normal;
          background-color: $solid-gold;
          padding: 2px 8px;
          margin-left: 8px;
          border-radius: 16px;
        }
      }

      .message{
        display: block;
        color: $main-red;
        margin-bottom: 8px;
      }
    }

    .group-wish:not(:last-child){
      border-bottom: 1px solid #DCDFC5;
      margin-bottom: 12px;
    }
  }
}

.nav-float{
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $custom-white;
  position: fixed;
  z-index: 2;
  padding: 12px;
  border: 2px solid $solid-gold;
  border-radius: 12px;
  width: calc(100% - 40px);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

 .custom-row{
   margin-left: 0;
   margin-right: 0;
   padding-left: 0;
   padding-right: 0;

    .nav-item{
      color: $light-gray;
      text-decoration: none;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;

      &.active{color: $main-red;}

      .custom-icon{
        display: inline-block;
        width: 24px;
      }
    }
  }
}