$dark-brown : #514338;
$light-brown : #6D5D50;
$brown : #C7B5A6;
$solid-gold : #D49B49;
$custom-white : #F9FAFB;

html, body{height: 100%;}

.wrapper-custom{
  background-color: $dark-brown;
  height: 100%;
  max-width: 450px;
  margin: 0 auto;
}

h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 14px;}
span, p{
  font-size: 12px;
  font-family: 'Prompt', sans-serif;
}

.custom-row{
  height: 100%;
  flex-direction: column;
  margin: 0;
  padding: 16px;
  animation: fadeInScale 1.5s ease-in-out 1;

  .content{
    flex-grow: 1;
    border: 1px solid $solid-gold;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0;

    &::before{
      content: url("fivethtemplate/corner-ornament.png");
      position: absolute;
      top: 8px;
      left: 8px;
      animation: topCornerOrnament 2s ease-in-out;
    }

    &::after{
      content: url("fivethtemplate/corner-ornament.png");
      position: absolute;
      bottom: 8px;
      right: 8px;
      transform: scale(-1);
      animation: bottomCornerOrnament 2s ease-in-out;
    }

    #wrapper-akad, #wrapper-resepsi{

      .title{
        font-family: 'Niconne', serif;
        color: $custom-white;
        margin-bottom: 24px;
        animation: slideUp 2s ease-in-out 1;
      }
      
      .group-time{
        color: $custom-white;
        animation: fadeInScale 2s ease-in-out 1;

        .month, .year{
          display: block;
          font-family: 'Prompt', sans-serif;
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 1.25px;
        }

        .wrapper{
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          padding: 0 24px;
          margin: 8px 0;

          .day, .clock{
            flex: 1 0 0;
            font-weight: 500;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
          }

          .day{

            &::before{
              content: "";
              width: 100%;
              height: 1px;
              background-color: $solid-gold;
              margin-bottom: 4px;
              align-self: end;
              animation: slidePath 2.25s ease-in-out 1;
            }

            &::after{
              content: "";
              width: 100%;
              height: 1px;
              background-color: $solid-gold;
              margin-top: 4px;
              align-self: end;
              animation: slidePath 2.25s ease-in-out 1;
            }
          }

          .clock{
            
            &::before{
              content: "";
              width: 100%;
              height: 1px;
              background-color: $solid-gold;
              margin-bottom: 4px;
              align-self: start;
              animation: slidePath 2.5s ease-in-out 1;
            }

            &::after{
              content: "";
              width: 100%;
              height: 1px;
              background-color: $solid-gold;
              margin-top: 4px;
              align-self: start;
              animation: slidePath 2.5s ease-in-out 1;
            }
          }

          .date{
            font-family: 'Niconne', serif;
            margin: 0 12px;
          }
        }
      }

      .group-location{
        display: block;
        margin-top: 20px;
        color: $custom-white;
        animation: slideDown 2s ease-in-out 1;

        .location-name{font-family: 'Niconne', serif;}

        .location-address{font-weight: 400;}

        .custom-btn{
          padding: 8px 16px;
          background-color: $solid-gold;
          border-radius: 4px;
          text-decoration: none;
          color: $custom-white;
          display: inline-flex;
          align-items: center;
          gap: 8px;

          .custom-icon{ width: 16px; }

          .btn-text{
            font-weight: 600;
          }

          &:hover{background-color: #b67418;}
        }
      }

      #top-ornament, #bottom-ornament{
        display: block;
        width: 100%;
        text-align: center;
      }

      #top-ornament{
        margin-bottom: 16px;
        animation: slideUp 2s ease-in-out 1;
      }

      #bottom-ornament{
        margin-top: 20px;
        animation: slideDown 2s ease-in-out 1;
      }
    }

    .custom-inner{
      overflow: hidden;
      position: unset;
      display: flex;
      align-items: center;

      .custom-item{ padding: 0 24px; }

      .custom-prev, .custom-next{
        top: auto;
        bottom: auto;
        width: auto;
        opacity: 1;
        
        .custom-carousel-btn{
          display: flex;
          justify-content: center;
          align-items: center;
          background-image: none;
          width: 28px;
          height: 28px;
          background-color: $solid-gold;
          border-radius: 100%;

          &:hover, &:active{
            background-color: #b67418;
          }
        }
      }

      .custom-prev{ left: -14px; }

      .custom-next{ right: -14px; }
    }
  }

  .nav-float{
    flex-grow: 0;
    padding: 12px 8px;
    border: 1px solid $solid-gold;
    border-radius: 0 0 12px 12px;

    .custom-nav-row{
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;

      a.navitem-label{
        color: $light-brown;
        text-decoration: none;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        gap: 4px;
  
        &.active{color: $custom-white;}
  
        i{display: inline-block;}
      }
    }
  }

  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes topCornerOrnament {
    0% {
      opacity: 0;
      transform: translateX(-16px) translateY(-16px);
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }
  }

  @keyframes bottomCornerOrnament {
    0% {
      opacity: 0;
      transform: scale(-1) translateX(-16px) translateY(-16px);
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(-1) translateX(0) translateY(0);
    }
  }

  @keyframes slidePath {
    0% {
      opacity: 0;
      width: 0;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(16px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-16px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}