@font-face {
  font-family: Magnolia Script;
  src: url(../../fonts/MagnoliaScript.otf);
}

$dark-brown : #514338;
$light-brown : #6D5D50;
$brown : #C7B5A6;
$solid-gold : #D49B49;
$custom-white : #F9FAFB;

html{height: 100%;}
body{
  background-color: $dark-brown;
  height: 100%;
}

h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 14px;}
span, p{
  font-size: 12px;
  font-family: 'Prompt', sans-serif;
}

.custom-row{
  height: 100%;
  flex-direction: column;
  margin: 0;
  padding: 16px;

  .content{
    flex-grow: 1;
    border: 1px solid $solid-gold;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0 24px;
    color: $custom-white;

    &::before{
      content: url("fivethtemplate/corner-ornament.png");
      position: absolute;
      top: 8px;
      left: 8px;
    }

    &::after{
      content: url("fivethtemplate/corner-ornament.png");
      position: absolute;
      bottom: 8px;
      right: 8px;
      transform: scale(-1);
    }

    .thankyou{
      font-weight: 400;
      margin-bottom: 20px;
    }

    .regard{
      font-weight: 500;
      margin-bottom: 4px;
    }

    .name-set{
      font-family: 'Magnolia Script', serif;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      &::before{
        content: "Wildan";
        font-size: 28px;
        margin-right: 6px;
      }

      &::after{
        content: "Utaran";
        font-size: 28px;
        margin-left: 6px;
      }
    }

    .custom-btn{
      padding: 8px 16px;
      background-color: $solid-gold;
      border-radius: 4px;
      text-decoration: none;
      color: $custom-white;
      display: inline-flex;
      align-items: center;
      gap: 4px;

      .btn-text{
        font-weight: 600;
      }

      &:hover{background-color: #b67418;}
    }

    #top-ornament, #bottom-ornament{
      display: block;
      width: 100%;
      text-align: center;
    }

    #top-ornament{margin-bottom: 16px;}

    #bottom-ornament{margin-top: 28px;}
  }

  #popup-message{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(81,67,56,0.75);
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms;
  
    &:target{
      visibility: visible;
      opacity: 1;
    }
  
    .custom-box{
      position: relative;
      background-color: $custom-white;
      border-radius: 16px;
      padding: 20px;
  
      .prolog, .address{
        display: block;
        font-weight: 400;
        color: $light-brown;
        text-align: center;
      }
  
      .prolog{margin-bottom: 12px;}
  
      .address{margin-bottom: 8px;}
  
      .title, .sub-title{
        display: block;
        font-weight: 600;
        color: $dark-brown;
        text-align: center;
      }
  
      .sub-title{margin-bottom: 4px;}
  
      #giftbox-icon{
        .custom-img{
          height: 40px;
          object-fit: contain;
          margin: 8px 0;
        }
      }
  
      #bank-icon{
        .custom-img{
          height: 28px;
          object-fit: contain;
          margin: 8px 0;
        }
      }
  
      .copy-btn{
        background-color: $solid-gold;
        border-radius: 24px;
        border: none;
        padding: 8px 16px;
        color: #fff;
        display: inline-flex;
        align-items: center;
        gap: 4px;
  
        &:hover{background-color: #b67418;}
  
        .custom-icon{
          width: 16px;
          height: 16px;
        }
  
        .copy-text{font-weight: 500;}
      }
  
      .offline-gift{margin-bottom: 20px;}
  
      .close-btn{
        position: absolute;
        z-index: 2;
        top: -20px;
        right: -10px;
        width: 40px;
        height: 40px;
        background-color: $light-brown;
        border-radius: 100%;
        padding: 10px;
    
        .custom-icon{
          width: 20px;
          height: 20px;
          color: #fff;
        }
  
        &:hover{background-color: $dark-brown;}
      }
    }
  }

  .nav-float{
    flex-grow: 0;
    padding: 12px 8px;
    border: 1px solid $solid-gold;
    border-radius: 0 0 12px 12px;

    .custom-nav-row{
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;

      a.navitem-label{
        color: $light-brown;
        text-decoration: none;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        gap: 4px;
  
        &.active{color: $custom-white;}
  
        i{display: inline-block;}
      }
    }
  }
}