$dark-brown : #514338;
$light-brown : #6D5D50;
$brown : #C7B5A6;
$solid-gold : #D49B49;
$custom-white : #F9FAFB;

html, body{height: 100%;}

.wrapper-custom{
  background-color: $dark-brown;
  height: 100%;
  max-width: 450px;
  margin: 0 auto;
}

h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 14px;}
span{
  font-size: 12px;
  font-family: 'Prompt', sans-serif;
}

.custom-row{
  height: 100%;
  flex-direction: column;
  margin: 0;
  padding: 16px;
  animation: fadeInScale 1.5s ease-in-out 1;

  .content{
    flex-grow: 1;
    border: 1px solid $solid-gold;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &::before{
      content: url("fivethtemplate/corner-ornament.png");
      position: absolute;
      top: 8px;
      left: 8px;
      animation: topCornerOrnament 2s ease-in-out;
    }

    &::after{
      content: url("fivethtemplate/corner-ornament.png");
      position: absolute;
      bottom: 8px;
      right: 8px;
      transform: scale(-1);
      animation: bottomCornerOrnament 2s ease-in-out;
    }

    .title{
      font-family: 'Niconne', serif;
      color: $custom-white;
      margin: 12px 0;

      .man-name{
        margin-bottom: 4px;
        animation: slideUp 2s ease-in-out 1;
      }

      .woman-name{
        margin-bottom: 0;
        animation: slideDown 2s ease-in-out 1;
      }

      .separator-name{
        margin-bottom: 4px;
        animation: fadeInScale 2s ease-in-out 1;
      }
    }

    .sub-title, .dates{
      display: block;
      font-weight: 500;
      color: $solid-gold;
      text-transform: uppercase;
      letter-spacing: 1.25px;
    }

    .sub-title{
      animation: slideUp 2s ease-in-out 1;
    }

    .dates{
      animation: slideDown 2s ease-in-out 1;
    }

    #top-ornament, #bottom-ornament{
      display: block;
      width: 100%;
      text-align: center;
    }

    #top-ornament{
      margin-bottom: 12px;
      animation: slideUp 2s ease-in-out 1;
    }

    #bottom-ornament{
      margin-top: 16px;
      animation: slideDown 2s ease-in-out 1;
    }

    @keyframes topCornerOrnament {
      0% {
        opacity: 0;
        transform: translateX(-16px) translateY(-16px);
      }
      20% {
        opacity: 0;
      }
      100% {
        opacity: 1;
        transform: translateX(0) translateY(0);
      }
    }

    @keyframes bottomCornerOrnament {
      0% {
        opacity: 0;
        transform: scale(-1) translateX(-16px) translateY(-16px);
      }
      20% {
        opacity: 0;
      }
      100% {
        opacity: 1;
        transform: scale(-1) translateX(0) translateY(0);
      }
    }

    @keyframes slideUp {
      0% {
        opacity: 0;
        transform: translateY(16px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes slideDown {
      0% {
        opacity: 0;
        transform: translateY(-16px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .nav-float{
    flex-grow: 0;
    padding: 12px 8px;
    border: 1px solid $solid-gold;
    border-radius: 0 0 12px 12px;

    .custom-nav-row{
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;

      a.navitem-label{
        color: $light-brown;
        text-decoration: none;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        gap: 4px;
  
        &.active{color: $custom-white;}
  
        i{display: inline-block;}
      }
    }
  }

  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}