$main-navy : #253964;
$light-blue : #E9F3FF;
$gray-700 : #374151;
$gray-500 : #6B7280;
$gray-400 : #9CA3AF;
$gray-300 : #D1D5DB;
$gray-50 : #F9FAFB;
$yellow-400 : #FBBF24;
$yellow-300 : #FCD34D;
$gradient-light-blue : linear-gradient(#E9F3FF, #F2F8FF);

body{
  background-color: $gray-50;
}

.container-custom{
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

h1{
  font-family: 'Lilita One', sans-serif;
  color: $main-navy;
  font-size: 32px;

  @media (min-width: 768px) {
    font-size: 72px;
  }
}

h2{
  font-family: 'Lilita One', sans-serif;
  color: $main-navy;
  font-size: 24px;

  @media (min-width: 768px) {
    font-size: 48px;
  }
}

h3{
  font-family: 'Lilita One', sans-serif;
  font-size: 20px;

  @media (min-width: 768px) {
    font-size: 32px;
  }
}

h4{
  font-family: 'Lilita One', sans-serif;
  font-size: 20px;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

p, span, i{
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.custom-btn-outline{
  text-decoration: none;
  padding: 12px 24px;
  border: 1px solid $main-navy;
  border-radius: 8px;
  font-family: 'Work Sans',sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: $main-navy;
  text-align: center;

  &:hover, &:active{
    color: $gray-700;
    background-color: $yellow-400;
    border: 1px solid $yellow-300;
    box-shadow: 0 2px 10px 6px rgba(252, 211, 77, 0.5);
  }

  @media (min-width: 768px) {
    border-radius: 12px;
    font-size: 16px;
  }
}

.active-border{
  border: 2px solid #7171FC !important;
}

.custom-btn-fill{
  display: inline-flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
  padding: 12px 24px;
  background-color: $yellow-400;
  border: 1px solid $yellow-300;
  border-radius: 8px;
  box-shadow: 0 2px 10px 6px rgba(252, 211, 77, 0.5);
  transition: all 0.3s ease-in-out;

  @media (min-width: 768px) {
    border-radius: 12px;
    font-size: 16px;
  }

  .custom-text{
    font-family: 'Work Sans',sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: $gray-700;

    &:hover, &:active{
      color: $gray-700;
    }
  }

  .custom-icon{
    color: $gray-700;
    width: 10px;
    height: 10px;
    background-color: $yellow-300;
    padding: 8px;
    border-radius: 100%;
  }

  &:hover, &:active{
    transform: scale(1.1);
  }
}

.nav-brand-custom{
  font-family: 'Lilita One', sans-serif;
  color: $main-navy;
  font-size: 20px;
  flex-grow: 1;
  text-decoration: none;

  @media (min-width: 768px) {
    font-size: 24px;
  }

  &:hover{
    color: $main-navy;
  }
}

nav{
  background-color: $light-blue;

  .navbar-custom{
    padding-top: 12px;
    padding-bottom: 12px;

    @media (min-width: 768px) {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    .navbar-nav-custom{
      flex-grow: 1;

      @media (min-width: 768px) {
        gap: 40px;
      }

      .nav-link-custom{
        font-family: 'Work Sans', sans-serif;
        color: $gray-500;
        font-size: 14px;

        &:hover, &:active{
          font-weight: 500;
          color: $gray-700;
        }

        @media (min-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }
}

header{
  background-image: $gradient-light-blue;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    height: calc(100vh - 64px);
  }

  .wrapper{
    @media (min-width: 768px) {
      margin: 100px 0;
    }

    .header-text{
      padding-bottom: 0;

      @media (min-width: 768px) {
        padding-bottom: 80px;
      }

      .title{
        margin-bottom: 16px;

        @media (min-width: 768px) {
          margin-bottom: 12px;
        }
      }

      .subtitle{
        color: $gray-500;
        margin-bottom: 4px;
      }

      .animation-subtitle{
        margin-bottom: 24px;

        .static-text, .dynamic-text{
        color: $gray-700;
        font-weight: 600;
        }

        .dynamic-text{
          padding: 0;
          margin: 0;
          width: fit-content;
          height: 21px;
          overflow: hidden;

          @media (min-width: 768px) {
            height: 24px;
          }
        }
      }
    }

    .header-image{
      width: 100%;
      height: auto;
      display: flex;
      align-items: flex-end;

      .custom-img{
        width: 100%;
      }
    }
  }

  .mask{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
  }

  .blue-blob{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    z-index: 1;

    @media (min-width: 768px) {
      width: 15%;
    }
  }

  .red-blob{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .green-blob{
    position: absolute;
    right: 0;
    width: 5%;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

#benefit{
  padding: 60px 0;

  @media (min-width: 768px) {
    padding: 120px 0 150px 0;
  }

  .headline{
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
  }

  .group-card{

    .murah, .ramah-lingkungan, .praktis{
      padding: 32px 24px;
      border-radius: 12px;
      height: 100%;

      .custom-illustration{
        width: 100%;
      }

      .title{
        color: $gray-50;
        margin-bottom: 4px;
      }

      .description{
        color: $gray-50;
      }
    }

    .murah{background-color: #F75B69;}

    .ramah-lingkungan{background-color: #9C9CF4;}

    .praktis{background-color: #FFBC57;}
  }
}

#showcase{
  position: relative;
  
  .custom-wave{
    width: 100%;
  }

  .wrapper{
    background-color: $light-blue;
    padding: 60px 0;

    @media (min-width: 768px) {
      padding: 120px 0;
    }

    .group-text{
      margin-bottom: 20px;

      @media (min-width: 768px) {
        margin-bottom: 40px;
      }

      .headline{
        margin-bottom: 8px;

        @media (min-width: 768px) {
          margin-bottom: 16px;
        }
      }
    }

    .template-option{
      margin-bottom: 20px;

      @media (min-width: 768px) {
        margin-bottom: 24px;
      }

      .desktop-left, .mobile-left, .desktop-right, .mobile-right{
        gap: 20px;

        @media (min-width: 768px) {
          gap: 30px;
        }

        .custom-card{
          background-color: #D9EBFF;
          border: 1px solid #ABD3FF;
          border-radius: 8px;
          position: relative;
          display: flex;
          gap: 12px;
          text-decoration: none;
          width: 100%;
          cursor: pointer;

          @media (min-width: 768px) {
            gap: 20px;
            width: 90%;
          }

          .custom-image{
            width: 20%;
            padding-left: 12px;
          
            .template-cover{
              position: absolute;
              width: 20%;
              height: auto;
              bottom: 0;

              @media (min-width: 768px) {
                width: 30%;
              }
            }

            @media (min-width: 768px) {
              width: 30%;
              padding-left: 16px;
            }
          }

          .custom-body{
            width: 80%;
            padding: 12px;

            .title{
              color: $main-navy;
              margin-bottom: 2px;
            }

            .description{
              font-size: 12px;
              color: $gray-500;
              margin-bottom: 8px;
            }

            .annotation{
              .custom-icon{
                width: 22px;
                height: auto;
                margin-right: 6px;
              }
              
              .custom-text{
                font-size: 12px;
                color: $gray-700;
              }
            }

            @media (min-width: 768px) {
              width: 70%;
              padding: 16px;
            }
          }

          &:hover{
            transition: all 0.2s ease-in-out;
            background-color: $main-navy;
            box-shadow: 0 2px 15px rgba(6, 182, 212, 0.75);

            .title, .description{
              color: $gray-50;
            }

            .annotation{

              .custom-text{
                color: $gray-50;
              }
            }
          }
        }
      }

      .desktop-left, .mobile-left{
        margin-bottom: 20px;
      }

      .custom-preview{
        width: 100%;
        height: 605px;
        margin: 0 40px;
        opacity: 100%;
        background-color: $gray-300;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .direction-for-click{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;

          .custom-icon{
            width: 24px;
            height: 24px;
          }
        }

        .custom-placeholder{
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 2;
        }
      }
    }
  }

  .bottom-border{
    transform: scale(-1);
  }

  .ornament{
    .line-ornament{
      width: 100%;
      position: absolute;
      bottom: 0;
    }

    .top-blob{
      position: absolute;
      top: 0;
      width: 72px;
      transform: translate(0, -50%);

      @media (min-width: 768px) {
        width: 200px;
        transform: translate(0, -25%);
      }
    }

    .bottom-blob{
      position: absolute;
      right: 0;
      bottom: 0;
      width: 62px;
      transform: translate(0, 25%);

      @media (min-width: 768px) {
        width: 136px;
      }
    }
  }
}

#pricing{
  padding: 80px 0;
  position: relative;

  @media (min-width: 768px) {
    padding: 120px 0;
  }

  .group-text{

    .headline{
      margin-bottom: 24px;

      @media (min-width: 768px) {
        margin-bottom: 40px;
      }
    }
  }

  .fitur{
    width: 100%;
    height: fit-content;
    border: 1px solid $gray-300;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    .table-head{
      color: $gray-700;
      padding: 12px 20px;

      .title{
        margin: 12px 0;
      }
    }

    .table-body{
      border-top: 1px solid $gray-300;

      ul{
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;

        li{
          display: flex;
          align-items: center;
          border-bottom: 1px solid $gray-300;

          &:last-child{
            border-bottom: 0;
          }

          span{
            color: $gray-700;
            margin: 12px 20px;
          }
        }
      }
    }
  }

  .basic, .premium, .gold{

    .table-head{
      color: $gray-50;
      padding: 12px 16px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      position: relative;
      overflow: hidden;

      .package-name{
        margin-bottom: 0;
      }

      .ribbon{
        font-style: normal;
        font-size: 12px;
        font-weight: 600;
        color: $gray-700;
        background-color: $yellow-400;
        padding: 4px 40px;
        position: absolute;
        width: fit-content;
        right: 0;
        transform: rotate(30deg) translate(13%, -160%);

        @media (min-width: 768px) {
          transform: rotate(30deg) translate(13%, -180%);
        }
      }
    }

    .table-body{
      padding: 16px;
      border: 1px solid $gray-300;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;

      @media (min-width: 768px) {
        padding: 0;
      }

      ul{
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;

        li{
          display: flex;
          align-items: center;

          @media (min-width: 768px) {
            border-bottom: 1px solid $gray-300;
            justify-content: center;
          }

          .custom-checkmark{
            width: 20px;
            height: 20px;
            margin-right: 10px;
            color: #34D399;

            @media (min-width: 768px) {
              width: 24px;
              height: 24px;
              margin: 12px 20px;
            }
          }

          .custom-xmark{
            width: 20px;
            height: 20px;
            margin-right: 10px;
            color: #EF4444;

            @media (min-width: 768px) {
              width: 24px;
              height: 24px;
              margin: 12px 20px;
            }
          }

          span{
            color: $gray-700;

            @media (min-width: 768px) {
              margin: 12px 20px;
            }
          }

          .custom-xmark-text{
            color: $gray-400;
          }

          .pricing-btn{
            width: 100%;
            margin-top: 16px;

            @media (min-width: 768px) {
              margin: 20px;
            }
          }

          &:last-child{
            border-bottom: 0;
          }

          &:not(:nth-last-child(-n+2)){
            margin-bottom: 12px;

            @media (min-width: 768px) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .basic{
    margin-bottom: 12px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }

    .table-head{
      background-color: #9C9CF4;

      @media (min-width: 768px) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    .table-body{

      @media (min-width: 768px) {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 0;
      }
    }
  }

  .premium{
    margin-bottom: 12px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }

    .table-head{
      background-color: #8D8DF9;

      @media (min-width: 768px) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    .table-body{

      @media (min-width: 768px) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .gold{

    .table-head{
      background-color: #7171FC;

      @media (min-width: 768px) {
        border-top-left-radius: 0;
      }
    }

    .table-body{

      @media (min-width: 768px) {
        border-bottom-left-radius: 0;
      }
    }
  }

  .ornament{

    .red-bottom-blob{
      position: absolute;
      width: 55px;
      left: -16px;
      bottom: 0;
      transform: rotate(345deg);

      @media (min-width: 768px) {
        width: 120px;
        left: 0;
        bottom: 32px;
        transform: translate(0, 50%);
      }
    }
  }
}

#faq{
  position: relative;
  padding: 0 0 100px 0;
  
  .group-heading{
    margin-bottom: 24px;
    
    .big-title{
      margin-bottom: 4px;

      @media (min-width: 768px) {
        margin-bottom: 8px;
      }
    }

    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
  }

  #accordionFAQ{
    display: grid;
    gap: 12px;

    .accordion-item-custom{
      background-color: $gray-50;
      border: none;
      border-radius: 12px;
    }

    .accordion-button-custom{
      background-color: $gray-50;
      border-radius: 12px;
      border: 1px solid $gray-300;
      box-shadow: none;
      font-family: 'Work Sans', sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: $gray-700;
      padding: 16px;

      &:not(.collapsed){
        border: 2px solid #7171FC;
        border-bottom: none;
        border-radius: 12px 12px 0 0;
        font-weight: 600;
        color: $main-navy;
      }

      &::after{
        background-color: #9C9CF4;
        border-radius: 100%;
        width: 24px;
        height: 24px;
        content: "";
        background-image: url(landingpage/chevron-down-solid.svg);
        background-repeat: no-repeat;
        background-size: 12px;
        background-position: center;

        @media (min-width: 768px) {
          width: 32px;
          height: 32px;
          background-size: 16px;
        }
      }

      @media (min-width: 768px) {
        font-size: 18px;
        padding: 20px;
      }
    }

    .accordion-body-custom{
      background-color: $gray-50;
      border: 2px solid #7171FC;
      border-top: none;
      border-radius: 0 0 12px 12px;
      padding: 0 calc(16px + 24px) 16px 16px;
      font-family: 'Work Sans', sans-serif;
      font-size: 14px;
      color: $gray-500;

      @media (min-width: 768px) {
        font-size: 16px;
        padding: 0 calc(20px + 32px) 20px 20px;
      }
    }

    @media (min-width: 768px) {
      gap: 20px;
    }
  }

  &::after{
    content: "";
    width: 20px;
    height: 76px;
    background-image: url(landingpage/purple-blob.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    right: 0;
    bottom: 20px;

    @media (min-width: 768px) {
      width: 50px;
      height: 190px;
      bottom: 40px;
    }
  }

  @media (min-width: 768px) {
    padding: 60px 0 180px 0;
  }
}

#contactus{
  position: relative;
  border-bottom: 1px solid #D3E7FF;

  .top-border{

    .custom-wave{
      width: 100%;
    }
  }

  .wrapper{
    background-color: $light-blue;
    padding: 150px 0 64px;

    @media (min-width: 768px) {
      padding: 0;
    }

    .group-text{
      padding: 0;

      @media (min-width: 768px) {
        padding: 80px 0 120px 0;
      }

      .headline{
        margin-bottom: 16px;
      }
    }

    .group-image{
      width: 100%;
      position: relative;
      display: flex;
      justify-content: end;

      @media (max-width: 768px) {
        position: static;
        justify-content: center;
      }

      .contactus-image{
        max-width: 585px;
        position: absolute;
        top: -64px;

        @media (max-width: 768px) {
          width: 250px;
          top: -22px;
        }
      }
    }
  }
}

footer{
  background-color: $light-blue;

  padding: 20px 0;

  .brand{
    margin-bottom: 24px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  .nav-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    .custom-link{
      text-decoration: none;
      font-family: 'Work Sans', sans-serif;
      color: $gray-500;
      font-size: 14px;

      &:hover, &:active{
        font-weight: 500;
        color: $gray-700;
      }

      @media (min-width: 768px) {
        font-size: 16px;
      }
    }

    @media (min-width: 768px) {
      margin-bottom: 0;
      justify-content: center;
      gap: 80px;
    }
  }

  .copyright{
    width: 100%;
    color: $gray-700;
    display: flex;
    justify-content: center;

    @media (min-width: 768px) {
      justify-content: end;
    }
  }
}