$main-orange : #E6873A;
$light-orange : #FFC290;
$main-green : #545A29;
$light-green : #81865F;
$solid-gold : #C59B46;
$gradient-gold : linear-gradient(45deg,#C59B46,#F4DCAB);

html{height: 100%;}
body{
  background: url("sixthtemplate/Background Sixth Template.png");
  background-size: cover;
  height: 100%;
}

h1{font-size: 36px;}
h2{font-size: 24px;}
h3{font-size: 20px;}
span{
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
}

.ornament{
  
  .top-left{

    &::before{
      position: absolute;
      content: "";
      height: 100%;;
      width: 100%;
      background: url("sixthtemplate/big-leaves-shadow");
      background-repeat: no-repeat;
      top: -6%;
      left: -15%;
    }

    #big-leaves-tl, #small-leaves-tl, #one-leaf-tl{
      position: absolute;
    }

    #big-leaves-tl{
      top: -8%;
      left: -22%;
    }

    #small-leaves-tl{
      top: -5%;
      left: 6%;
    }
    
    #one-leaf-tl{
      top: 6%;
      left: 13%;
    }
  }

  .top-right{
    
    &::before{
      position: absolute;
      content: "";
      height: 100%;;
      width: 100%;
      background: url("sixthtemplate/big-leaves-shadow");
      background-repeat: no-repeat;
      transform: scaleX(-1);
      top: -6%;
      right: -15%;
    }

    #big-leaves-tr, #small-leaves-tr, #one-leaf-tr{
      position: absolute;
      transform: scaleX(-1);
    }

    #big-leaves-tr{
      top: -8%;
      right: -22%;
    }

    #small-leaves-tr{
      top: -5%;
      right: 6%;
    }
    
    #one-leaf-tr{
      top: 6%;
      right: 13%;
    }
  }

  .bottom{

    &::before{
      position: absolute;
      content: "";
      background: url("sixthtemplate/bottom-leaf-shadow.png");
      background-repeat: no-repeat;
      width: 110%;
      height: 24%;
      bottom: 0;
      left: -8%;
      transform: scale(1.2);
    }

    #leaf-1, #leaf-2, #leaf-3, #leaf-4, #leaf-5, #leaf-6{
      position: absolute;
      transform: scale(1.2);
    }

    #leaf-1{
      bottom: -8%;
      left: -2%;
    }

    #leaf-2{
      bottom: -7%;
      left: 6%;
    }

    #leaf-3{
      bottom: -3%;
      left: 24%;
    }

    #leaf-4{
      bottom: -1%;
      right: 37%;
    }

    #leaf-5{
      bottom: -12%;
      right: 16%;
    }

    #leaf-6{
      bottom: -11%;
      right: -9%;
    }
  }
}

.content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 50%;

  .photo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .custom-placeholder{
      width: 200px;
      height: 200px;
      background: url("sixthtemplate/Border Image.png");

      &:after{
        content: "";
        display: block;
        width: 180px;
        height: 180px;
        background: url("sixthtemplate/Sample Couple Image.png");
        border-radius: 1000px;
        margin: 10px;
      }
    }
  }
  
  .title,.sub-title{
    font-family: 'DM Serif Display', serif;
    color: $main-green;
  }

  .sub-title{margin-bottom: 4px;}
  .title{margin-bottom: 8px;}

  .dates{
    display: block;
    font-weight: 500;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: $solid-gold;
  }
}

.nav-float{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  background-color: $main-orange;
  position: fixed;
  padding: 12px;
  border-radius: 50rem;
  width: calc(100% - 40px);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

  a{
    color: $light-orange;

    &.active{color: #fff;}

    i{display: inline-block;}

    .under-dot{
    display: block;
    margin: 0 auto;
    margin-top: 4px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fff;
    }
  }
}