$main-orange : #E6873A;
$light-orange : #FFC290;
$main-green : #545A29;
$light-green : #81865F;
$solid-gold : #C59B46;
$gradient-gold : linear-gradient(45deg,#C59B46,#F4DCAB);

html{height: 100%;}
body{
  background: url("Background Sixth Template.png");
  background-size: cover;
  height: 100%;
}

h1{font-size: 36px;}
h2{font-size: 24px;}
h3{font-size: 20px;}
span{
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
}

.content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .photo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .custom-placeholder{
      width: 200px;
      height: 200px;
      background: url("Border Image.png");

      &:after{
        content: "";
        display: block;
        width: 180px;
        height: 180px;
        background: url("Sample Couple Image.png");
        border-radius: 1000px;
        margin: 10px;
      }
    }
  }
  
  .title,.sub-title{
    font-family: 'DM Serif Display', serif;
    color: $main-green;
  }

  .sub-title{margin-bottom: 4px;}
  .title{margin-bottom: 8px;}

  .dates{
    display: block;
    font-weight: 500;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: $solid-gold;
  }
}

.nav-float{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  background-color: $main-orange;
  position: fixed;
  padding: 12px;
  border-radius: 50rem;
  width: calc(100% - 40px);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

  a{
    color: $light-orange;

    &.active{color: #fff;}

    i{display: inline-block;}

    .under-dot{
    display: block;
    margin: 0 auto;
    margin-top: 4px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fff;
    }
  }
}