$beige : #F3EFE3;
$main-green : #545A29;
$light-green : #81865F;
$dark-brown : #9A7915;
$custom-white : #F9FAFB;

html, body{height: 100%;}

.wrapper-custom{
  background-color: $beige;
  height: 100%;
  max-width: 450px;
  margin: 0 auto;
}

h1{font-size: 40px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 20px;}
h5{font-size: 12px;}
span, p{
  font-size: 12px;
  font-family: 'DM Sans', sans-serif;
}

.ornament{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  .frame{
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 126px);
    border: 1px solid $main-green;
    border-radius: 20px;
    top: 20px;
    animation: fadeIn 2s ease-in-out 1;
  }

  .sharp-left{
    position: absolute;
    width: 181px;
    height: 171px;
    left: 0;
    bottom: -15px;

    .sharp-shadow-left, .sharp-left-1, .sharp-left-2{
      position: absolute;
      z-index: 1;
      height: 146px;
    }

    .sharp-shadow-left{
      bottom: 40px;
      left: -28px;
      animation: bottomLeafLeftShadow 5s ease-in-out infinite;
    }

    .sharp-left-1{
      transform: rotate(45deg);
      bottom: -30px;
      left: 20px;
      animation: bottomLeafLeftOne 5s ease-in-out infinite;
    }

    .sharp-left-2{
      transform: rotate(15deg);
      bottom: -8px;
      left: -16px;
      animation: bottomLeafLeftTwo 5s ease-in-out infinite;
    }

    @keyframes bottomLeafLeftOne {
      0% { transform: rotate(45deg) scale(0.9); }
      50% { transform: rotate(30deg) scale(1);}
      100% { transform: rotate(45deg) scale(0.9); }
    }

    @keyframes bottomLeafLeftTwo {
      0% { transform: rotate(15deg) scale(0.9); }
      50% { transform: rotate(0deg) scale(1);}
      100% { transform: rotate(15deg) scale(0.9); }
    }

    @keyframes bottomLeafLeftShadow {
      0% { transform: rotate(0deg) scale(0.9); }
      50% { transform: rotate(-15deg) scale(1);}
      100% { transform: rotate(0deg) scale(0.9); }
    }
  }

  .sharp-right{
    position: absolute;
    width: 181px;
    height: 171px;
    right: 0;
    bottom: -15px;

    .sharp-shadow-right, .sharp-right-1, .sharp-right-2{
      position: absolute;
      z-index: 1;
      height: 146px;
    }

    .sharp-shadow-right{
      bottom: 40px;
      right: -28px;
      animation: bottomLeafRightShadow 5s ease-in-out infinite;
    }

    .sharp-right-1{
      transform: rotate(-45deg) scaleX(-1);
      bottom: -30px;
      right: 20px;
      animation: bottomLeafRightOne 5s ease-in-out infinite;
    }

    .sharp-right-2{
      transform: rotate(-15deg) scaleX(-1);
      bottom: -8px;
      right: -16px;
      animation: bottomLeafRightTwo 5s ease-in-out infinite;
    }

    @keyframes bottomLeafRightOne {
      0% { transform: rotate(-45deg) scale(0.9) scaleX(-1);}
      50% { transform: rotate(-30deg) scale(1) scaleX(-1);}
      100% { transform: rotate(-45deg) scale(0.9) scaleX(-1);}
    }

    @keyframes bottomLeafRightTwo {
      0% { transform: rotate(-15deg) scale(0.9) scaleX(-1);}
      50% { transform: rotate(0deg) scale(1) scaleX(-1);}
      100% { transform: rotate(-15deg) scale(0.9) scaleX(-1);}
    }

    @keyframes bottomLeafRightShadow {
      0% { transform: rotate(0) scale(0.9) scaleX(-1);}
      50% { transform: rotate(15deg) scale(1) scaleX(-1);}
      100% { transform: rotate(0deg) scale(0.9) scaleX(-1);}
    }
  }
}

.content{
  width: 100%;
  height: calc(100% - 86px);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;

  .custom-inner{
    overflow: visible;
    display: flex;
    align-items: center;

    .custom-prev, .custom-next{
      top: auto;
      bottom: auto;
      opacity: 1;
      width: auto;

      .custom-btn{
        background-image: none;
        width: 32px;
        height: 32px;
        padding: 8px;
        background-color: $light-green;
        border-radius: 100%;

        &:hover, &:active{
          background-color: $main-green;
        }

        .custom-icon{
          width: 16px;
          height: 16px;
          color: $custom-white;
        }
      }
    }

    .custom-prev{left: -14px;}

    .custom-next{right: -14px;}
  }

  #wrapper-akad, #wrapper-resepsi{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s ease-in-out 1;

    .title{
      font-family: 'Dancing Script', serif;
      font-weight: 700;
      color: $main-green;
      margin-bottom: 8px;
      z-index: 2;
    }
  
    .group-image{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 160px;
      height: 160px;
      margin-bottom: 32px;
  
      .custom-image{
        width: 158px;
        height: 158px;
        object-fit: cover;
        position: absolute;
        animation: scaleDown 10s ease-in-out 1;
      }

      &::before{
        content: "";
        background: url("secondtemplate/couple-brush.png");
        background-size: 200px;
        width: 200px;
        height: 200px;
        position: absolute;
        z-index: 1;
      }

      .flower-set{
        display: flex;
        align-items: center;
        height: 76px;
        width: 190px;
        position: relative;
        transform: scale(1.1) translateY(55px);
        z-index: 1;

        .main-flower, .left-leaves, .right-leaves{
          position: absolute;
        }

        .main-flower{
          width: 100%;
          text-align: center;
          z-index: 4;

          .flower{
            width: 64px;
            animation: mainFlower 5s ease-in-out infinite;
          }

          @keyframes mainFlower {
            0% { transform: rotate(-8deg) scale(0.9); }
            50% { transform: rotate(7deg) scale(1); }
            100% { transform: rotate(-8deg) scale(0.9); }
          }
        }

        .left-leaves, .right-leaves{
          width: 92px;
          height: 58px;
          left: 0;

          .big-rounded-leaf{
            position: absolute;
            transform: rotate(-70deg) scaleX(-1);
            right: 25px;
            top: -18px;
            width: 32px;
            z-index: 3;
            animation: bigRoundedLeaf 5s ease-in-out infinite;
          }

          .small-rounded-leaf{
            position: absolute;
            transform: rotate(-105deg);
            right: 16px;
            top: 18px;
            width: 20px;
            z-index: 2;
            animation: smallRoundedLeaf 5s ease-in-out infinite;
          }

          .sharp-leaves-leaf{
            position: absolute;
            transform: rotate(-96deg) scaleX(-1);
            right: 24px;
            top: -14px;
            width: 46px;
            z-index: 1;
            animation: sharpLeaves 5s ease-in-out infinite;
          }

          @keyframes bigRoundedLeaf {
            0% { transform: scale(0.9) rotate(-75deg) scaleX(-1); }
            50% { transform: scale(1) rotate(-60deg) scaleX(-1); }
            100% { transform: scale(0.9) rotate(-75deg) scaleX(-1); }
          }

          @keyframes smallRoundedLeaf {
            0% { transform: scale(0.9) rotate(-110deg); }
            50% { transform: scale(1) rotate(-95deg); }
            100% { transform: scale(0.9) rotate(-110deg); }
          }

          @keyframes sharpLeaves {
            0% { transform: scale(0.9) rotate(-101deg) scaleX(-1); }
            50% { transform: scale(1) rotate(-86deg) scaleX(-1); }
            100% { transform: scale(0.9) rotate(-101deg) scaleX(-1); }
          }
        }

        .right-leaves{
          left: unset;
          right: 0;
          transform: scaleX(-1);
        }
      }

      @keyframes scaleDown {
        0% {
          width: 178px;
          height: 178px;
        }
        100% {
          width: 158px;
          height: 158px;
        }
      }
    }
  
    .group-time{
      width: 100%;
      margin-bottom: 16px;
  
      .day, .month, .year, .clock{
        font-family: 'Noto Serif', serif;
        font-weight: 400;
        color: $light-green;
        text-transform: uppercase;
        letter-spacing: 1.25px;
      }
  
      .day{
        display: flex;
        justify-content: end;
      }
  
      .clock{
        display: flex;
        justify-content: start;
      }

      .custom-col{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 0;

        .custom-wrapper{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
    
          .date{
            font-family: 'Noto Serif', serif;
            font-weight: 400;
            color: $main-green;
            margin: 0;
          }
        }

        &::before, &::after{
          content: "";
          width: 2px;
          height: 80px;
          background: linear-gradient(to bottom, rgba(154, 121, 21, 0), rgba(154, 121, 21, 1), rgba(154, 121, 21, 0));
        }
      }
    }
  
    .group-location{
      padding: 0 16px;
  
      .name{
        font-family: 'Noto Serif', serif;
        font-weight: 700;
        color: $main-green;
        margin-bottom: 8px;
      }
  
      .address{
        color: $light-green;
        margin-bottom: 12px;
      }
  
      .maps-btn{
        display: inline-flex;
        align-items: center;
        padding: 8px 16px;
        background-color: $dark-brown;
        text-decoration: none;
        color: $custom-white;
        font-weight: 600;
        border-radius: 24px;

        .custom-icon{
          width: 16px;
        }
  
        .custom-text{
          margin-left: 8px;
        }
  
        &:hover{background-color: #7e5f05;}
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.nav-float{
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $main-green;
  position: absolute;
  z-index: 2;
  padding: 12px;
  border-radius: 50rem;
  width: calc(100% - 40px);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

 .custom-row{
   margin-left: 0;
   margin-right: 0;
   padding-left: 0;
   padding-right: 0;

    .nav-item{
      color: $light-green;
      text-decoration: none;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;

      &.active{color: $custom-white;}

      .custom-icon{
        display: inline-block;
        width: 24px;
      }
    }
  }
}