$beige : #F3EFE3;
$main-green : #545A29;
$light-green : #81865F;
$dark-brown : #9A7915;
$custom-white : #F9FAFB;

html{height: 100%;}
body{
  background-color: $beige;
  height: 100%;
}

h1{font-size: 40px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 20px;}
h5{font-size: 12px;}
span, p{
  font-size: 12px;
  font-family: 'DM Sans', sans-serif;
}

.ornament{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 0;

  .wide-left{
    position: absolute;
    width: 162px;
    height: 117px;
    left: -8px;
    bottom: 420px;

    .big-left, .small-left{
      position: absolute;
      z-index: 1;
    }

    .big-left{
      height: 154px;
      transform: rotate(60deg);
      left: 24px;
    }

    .small-left{
      height: 98px;
      transform: rotate(30deg);
      bottom: 0;
      left: -4px;
    }
  }

  .wide-right{
    position: absolute;
    width: 162px;
    height: 117px;
    right: -8px;
    bottom: 420px;

    .big-right, .small-right{
      position: absolute;
      z-index: 1;
    }

    .big-right{
      height: 154px;
      transform: rotate(-60deg) scaleX(-1);
      right: 24px;
    }

    .small-right{
      height: 98px;
      transform: rotate(-30deg) scaleX(-1);
      bottom: 0;
      right: -4px;
    }
  }

  .sharp-left{
    position: absolute;
    width: 181px;
    height: 171px;
    left: 0;
    bottom: 0;

    .sharp-shadow-left, .sharp-left-1, .sharp-left-2{
      position: absolute;
      z-index: 1;
      height: 146px;
    }

    .sharp-shadow-left{
      bottom: 64px;
      left: -28px;
    }

    .sharp-left-1{
      transform: rotate(45deg);
      bottom: -30px;
      left: 20px;
    }

    .sharp-left-2{
      transform: rotate(15deg);
      bottom: -8px;
      left: -16px;
    }
  }

  .sharp-right{
    position: absolute;
    width: 181px;
    height: 171px;
    right: 0;
    bottom: 0;

    .sharp-shadow-right, .sharp-right-1, .sharp-right-2{
      position: absolute;
      z-index: 1;
      height: 146px;
    }

    .sharp-shadow-right{
      bottom: 64px;
      right: -28px;
    }

    .sharp-right-1{
      transform: rotate(-45deg) scaleX(-1);
      bottom: -30px;
      right: 20px;
    }

    .sharp-right-2{
      transform: rotate(-15deg) scaleX(-1);
      bottom: -8px;
      right: -16px;
    }
  }
}

.content{
  width: 100%;
  height: calc(100vh - 86px);
  display: flex;
  flex-direction: column;
  padding: 0;

  .group-image{
    display: flex;
    height: 55%;
    position: relative;

    .custom-inner{
      overflow: visible;
      height: 100%;
      display: flex;
      align-items: center;

      .custom-item{
        height: 100%;
        margin-bottom: 12px;

        .custom-image{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      .custom-prev, .custom-next{
        opacity: 1;
        width: auto;
        top: auto;
        bottom: auto;
  
        .custom-btn{
          background-image: none;
          width: 32px;
          height: 32px;
          padding: 8px;
          background-color: $main-green;
          border-radius: 100%;
          opacity: 0.2;
  
          .custom-icon{
            width: 16px;
            height: 16px;
            color: $custom-white;
          }

          &:hover, &:active{opacity: 1;}
        }
      }
  
      .custom-prev{left: 12px;}
  
      .custom-next{right: 12px;}
    }

    .custom-indicators{
      position: absolute;
      margin-bottom: 0;

      .indicator-btn{
        width: 8px;
        height: 8px;
        border-radius: 100%;
        border-top: none;
        border-bottom: none;
        background-color: $dark-brown;
      }
    }

    .custom-brush{
      position: absolute;
      z-index: 0;
      width: 100%;
      bottom: 0;
      transform: translateY(65%);
    }
  }

  .group-text{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 48px;

    .thanks{
      display: block;
      color: $light-green;
      margin-bottom: 16px;
    }

    .sub-title{
      display: block;
      color: $main-green;
      font-weight: 600;
      margin-bottom: 4px;
    }

    .title{
      font-family: 'Dancing Script', serif;
      font-weight: 700;
      color: $dark-brown;
      margin-bottom: 20px;

      &::before{
        content: "Ifan ";
        color: $main-green;
      }

      &::after{
        content: " Saskia";
        color: $main-green;
      }
    }

    .gift-btn{
      display: inline-flex;
      align-items: center;
      padding: 8px 16px;
      background-color: $dark-brown;
      text-decoration: none;
      color: $custom-white;
      font-weight: 600;
      border-radius: 24px;

      .custom-icon{
        width: 16px;
      }

      .custom-text{
        margin-left: 8px;
      }

      &:active{background-color: #7e5f05;}
    }
  }
}

#popup-message{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(84, 89, 41, 0.75);
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms;

  &:target{
    visibility: visible;
    opacity: 1;
  }

  .custom-box{
    position: relative;
    background-color: $custom-white;
    border-radius: 16px;
    padding: 20px;

    .prolog, .address{
      display: block;
      font-weight: 400;
      color: $light-green;
      text-align: center;
    }

    .prolog{margin-bottom: 12px;}

    .address{margin-bottom: 8px;}

    .title, .sub-title{
      display: block;
      font-family: 'DM Sans', sans-serif;
      font-weight: 700;
      color: $main-green;
      text-align: center;
    }

    .sub-title{margin-bottom: 4px;}

    .giftbox-icon{
      .custom-img{
        height: 40px;
        object-fit: contain;
        margin: 8px 0;
      }
    }

    .bank-icon{
      .custom-img{
        height: 28px;
        object-fit: contain;
        margin: 8px 0;
      }
    }

    .copy-btn{
      background-color: $dark-brown;
      border-radius: 24px;
      border: none;
      padding: 8px 16px;
      color: $custom-white;
      display: inline-flex;
      align-items: center;
      gap: 4px;

      &:hover{background-color: #7e5f05;}

      .custom-icon{
        width: 16px;
        height: 16px;
      }

      .custom-text{font-weight: 500;}
    }

    .offline-gift{margin-bottom: 20px;}

    .close-btn{
      position: absolute;
      z-index: 2;
      top: -20px;
      right: -10px;
      width: 40px;
      height: 40px;
      background-color: $light-green;
      border-radius: 100%;
      padding: 10px;
  
      .custom-icon{
        width: 20px;
        height: 20px;
        color: $custom-white;
      }

      &:hover{background-color: $main-green;}
    }
  }
}

.nav-float{
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $main-green;
  position: fixed;
  z-index: 2;
  padding: 12px;
  border-radius: 50rem;
  width: calc(100% - 40px);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

 .custom-row{
   margin-left: 0;
   margin-right: 0;
   padding-left: 0;
   padding-right: 0;

    .nav-item{
      color: $light-green;
      text-decoration: none;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;

      &.active{color: $custom-white;}

      .custom-icon{
        display: inline-block;
        width: 24px;
      }
    }
  }
}